.header {
    height: 80%;
    background: yellow;
    
}

.header_tren {
    display: flex;
    justify-content: space-between;
    height: 65%;
    align-items: center;
}

.header_tren1 {
    display: block;
}

.input_box input {
    height: 40px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 35px;
    font-size: 17px;
}

.input_box .icon {
    position: absolute;
    margin-top: -30px;
    left: 30px;
    color: grey;
}

.chinh1 {
    float: left;
    margin-left: 30px;
   margin-right: 60%;
}

.chinh2 {
    float: left;
 }


.tren_trai {
    flex: 0.2;
    display: block;
}

.tren_giua {
   flex: 1;
   padding: 2px;
   display: block;
}

.tren_giua button{
    width: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 0px;
}

.header_search-input {
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
    margin-right: 0px;
    padding-left: 10px;
}

.tren_phai {
    flex: 2,5;
    display: flex;
    margin: 5px;
}

.tren_phai_0 {
    border-left: 2px solid #10100f;
    padding: 2px;
}

.tren_phai_1, .tren_phai_0{
    display: inline-block;
    font-size: 20px;
    color: rgb(24, 24, 24);
}

header .header_tren ul li a {
    border-right: 2px black;
    text-decoration: none;
    display: block;
    padding: 8px 15px;
}

.header_duoi {
    height: 35%;
    background: black;
    font-size: 16px;
    
}
.danhsach {
    align-items: center;
    text-align: center;
}

.gachxuong {
    border-top-left-radius: 4px; 
    border-bottom-left-radius: 4px;
    border-left: 2px solid #f5f5f2;
}

.gachxuong1 {
    border-left: 2px solid #f5f5f2;
}

.gachxuong2 {
    border-left: 2px solid #f5f5f2;
    border-right: 2px solid #f5f5f2;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.tren_duoi_0 {
    width: 11%;
    position: relative;
}

.tren_duoi_1, .tren_duoi_0{
    display: inline-block;
    color: rgb(248, 247, 247);
}
header .header_duoi ul li a {
    text-decoration: none;
}

.tren_duoi_1:hover {
    color: rgb(11, 11, 11);
    background: white;
    border: 1px solid black;  
    transition: all 0.3s;  
}

.tren_phai_1:hover {
    color: rgb(250, 249, 249);
    background: rgb(19, 18, 18);
    padding: 8px 15px;
    transition: all 0.3s;  
}

.header_duoi li {
    position: relative;
}

.header_duoi li  a{
    display: block;
}

.sub-menu {
    display: none; 
    position: absolute; 
    border: 1px solid black;
    width: 100%;
    padding: 0px;
    margin-right: 0px;
    background: white;
    list-style: none;
    float: right;
} 

.header_duoi li:hover .sub-menu{
    display: block;
}

.sub-menu li {
    margin-left: 0 !important;
    border: 2px;
}

.sub-menu li a{
    color:#0c0b0b;
}

.sub-menu > ul {
    display: none !important;
}

.sub-menu li a:hover {
    color: rgb(17, 17, 17);
    background: #f0eded;
    border: 1px solid rgb(15, 14, 14);
}

.ipad {
    background-color: rgb(30, 5, 5);
    display: none;
}

.ipad #main-menu li a {
    color: #fff;
    text-decoration: none;
    /* display: block;  */
    padding-left: 10px;
}


.ipad li:hover .gianhang {
    padding-left: 30px;
    display: block;
    
}

.ipad li .gianhang li:hover .na {
    width: 60px;
    display: block;
}

ul {
    list-style-type: none;
}

.dt {
    background-color: rgb(30, 5, 5);
    display: none;
}

.dt #main-menu li a {
    color: #fff;
    text-decoration: none;
    /* display: block;  */
    padding-left: 10px;
}

#toggle {
    cursor: pointer;
}


.gianhang {
    display: none;
}


.na {
    display: none;
}



.dt li:hover .gianhang {
    padding-left: 30px;
    display: block;
    
}

.dt li .gianhang li:hover .na {
    width: 60px;
    display: block;
}

.menu {
    padding-left: 80%;
}

.giohang {
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background: rgba(255, 255, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

.diachi {
    font-size: 20px; 
}

.giohang1 {
    width: 100%;
    height: 40px;
    background: rgba(141, 139, 139, 0.1);
   
}

.giohang1 li a {
    text-decoration: none;

}

.giohang1 li :hover {
    background-color: #fff;
    width: 100%;
}

.tatca {
    float:left;
    /* background: rgba(217, 217, 217, 0.3); */
    /* border-width: 0px 1px 1px 0px;
    border-style: solid; */
    /* border-color: rgba(0, 0, 0, 0.4); */
    width: 50%;
    
    padding-left: 25%;
    font-size: 25px;
    margin-bottom: 30px;
   
}

.tatca1 {
    color: rgba(0, 0, 0, 0.6);
}

.mualai {
    float:left;
    width: 50%;
    /* background: rgba(217, 217, 217, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    
    padding-left: 25%;
    font-size: 25px;
    margin-bottom: 30px;
}

.anhgh {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    opacity: 0.15;

}

.tieptuc {
    height: 30%;
    width: 26%;
    background: rgba(217, 217, 217, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    margin-left: 37%;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 25px;
}

.hotro {
    height: 60px;
    width: 100%;
    border-width: 0.5px 0px 1px 0px;
    border-style: solid;
    border-color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #e51717;
    font-family: 'Inter';
    font-style: normal;
    font-size: 35px;
    
}

.hotro1 {
    height: auto;
    width: 100%;
    background: #EBEBEB;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    padding-left: 30px;
    font-size: 25px;
}

.cauhoi {
    width: 80%;
    height: 45px;
    margin-left: 30px;
    padding-left: 15px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 30px 0px 0px 30px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 20px;
    background: linear-gradient(0deg, #F3F3F3, #F3F3F3), linear-gradient(0deg, #F3F3F3, #F3F3F3), linear-gradient(0deg, #F3F3F3, #F3F3F3), #F3F3F3;
}

.ykien {
    padding-left: 20px;
    margin-left: 40px;
    margin-top: 20px;
    width: 60%;
    height: 40px;
    background: #D9D9D9;
}

.ykien1 {
    float: left;
    padding-right: 40px;
}

.ykien2 {
    float: left;
}

.bannerdt {
    height: 36%;
    width: 40%;
    margin-left: 32%;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}
.banner{
    height: auto;
    width: 100%;
}

.banner1{
    padding-top: 15x;
    height: 300px;
    width: 100%;
}

.banner3{
    padding-top: 15px;
    height: 2px;
    width: 100%;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    height: 900px;
    width: 100%;
}

.group {
    width: auto;
}

.duongphancach {
    height: 4px;
    width: 90%;
    background-color: #0c0b0b;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.duongphancach1 {
    display: none;
    height: 4px;
    width: 90%;
    background-color: #0c0b0b;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.duongphancach2 {
    display: none;
    height: 4px;
    width: 90%;
    background-color: #0c0b0b;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.khung {
    border-radius: 30px;
    width: 100%;
    height: 680px;
    background: rgba(255, 255, 0, 0.1);
    border: 1px solid #D9D9D9;
}

.banner2{
    padding-top: 50px;
    height: auto;
    width: 100%;
}

/* /////////////////////////////////////////////////////// */
.cantop{
    flex-direction: row;
    padding-top: 50px;
}
.panel {
    border: 1.5px solid #434242;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

/* ----------------------PHẦN ẢNH----------------- */
.panel-heading {
    color: rgb(247, 238, 238) !important;
    background-color: #ffffff !important;
    padding-top: 15px;
    /* border-bottom: 1px solid transparent; */
    border-bottom: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 280px;
}

.anh{
    width: 80%;
    height: 100%;
    padding-top: 15px;
    
}
/* ------------------------KẾT THÚC--------------- */

/* ---------------------PHẦN TÊN SẢN PHẨM--------- */
.tensp{
    padding-top: 15px;
    text-align: center;
    background-color: #ffffff !important;
    margin: 0px;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: bolder;
    height: 30px;
}
/* ------------------------KẾT THÚC--------------- */

/* ----------------------PHẦN GIÁ CẢ--------------------------- */
.panel-gia {
    background-color: #fff !important;
    align-items: center;
    padding-left: 15%;
    margin-top: 40px;
    margin-bottom: -10px;
}

/* --------------------PHẦN MUA--------------------------- */
.panel-gia p {
    font-size: 14px;
    float:left;
    padding-top: 5px;
    padding-left: 5px;
    height: 30px;
    width: 120px;
    background: #81f49a;
    border-radius: 30px;
}

/* ------------------------PHẦN GIỎ-------------------- */
.panel-gia h4 {
    color: #aaa;
    font-size: 12px;
    padding-top: 9px;
    
}

/* ----------------------------KẾT THÚC------------------- */

.buttonshop1{
    width: 100px;
    height: 40px;
    border: 1px solid #0c0c0c;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    margin-bottom: 10px;
    background-color: #f0ec09;
    border-right: 5px solid transparent;
    
}

.buttonshop2{
    width: 100px;
    height: 40px;
    border: 1px solid #0c0c0c;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
    margin-bottom: 10px;
    background-color: #f50404;
    margin-top: 10px;
}

/* -----------------------PHẦN MUA HÀNG VÀ THÊM VÀO GIỎ HÀNG---------------------------------------- */
.muahang {
    background-color: #fff !important;
    padding-bottom: 30px;
    padding-left: 10%;
    margin-bottom: 20px;
}


.mua {
    font-size: 15px;
    float: left;
    /* padding-left: 2px; */
    height: 50px;
    width: 37%px;
    border-top: 3px solid #b9b6b8;
    border-bottom: 3px solid #b7b6b9;
    border-left: 3px solid #b7b6b9;
    border-right: 1px solid #b7b6b9;
    /* border: 1px solid #0c0c0c; */
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    padding-top: 0px;
    background: rgba(255, 255, 0, 0.6);
}


.gio {
    float: left;
    height: 50px;
    width: 47%;
    background: rgba(251, 15, 15, 0.6);
    color: #FDFBFB;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 4px;
    border-top: 3px solid #b7b6b9;
    border-bottom: 3px solid #b7b6b9;
    border-left: 1px solid #b7b6b9;
    border-right: 3px solid #b7b6b9;
    /* border: 1px solid #0c0c0c; */
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px; 
    /* padding-left:2px; */
}
/* ---------------------------KẾT THÚC--------------------- */


/* -----------------------PHẦN TRƯỢT ẢNH -------------------------- */
.carousel-control.right,
.carousel-control.left {
    background-image: none;
    /* color: #f50404; */
    color:rgb(237, 169, 169);
}

.carousel-indicators li {
    /* border-color: #fd0202; */
    border-color: #d79090;
}

.carousel-indicators li.active {
    /* background-color: #ff0000; */
    background-color: #f46666;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

.bgbanner{
    margin-top: 10px;
    background-image: url('../images_doan/bgtrangchu.jpg');
    height: auto;
    width: 100%;
}

.slidebanner{
    width: 44%;
    height: 70%;
    display: block;
    align-items: center;
    margin-left: 29%;
    margin-bottom: 4%;
    border: 2px solid #f0ec09;
    border-radius: 15px;
    margin-top: 30px;
}


.clear {
    clear: both;
}
/* ---------------------------KẾT THÚC----------------------------------------- */

/* -----------------------------PHẦN CUỐI--------------------------- */
.thongtin{
    display: flex;
    background: black;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 200px;
    width: 100%;
}

.thongtinpro{
    color: white;
    list-style: none;
    font-size: 8px;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
}
.thongtinpro h1{
    font-weight: bold;
}
.thongtinpro1{
    color: white;
    display: flex;
    list-style: none;
    font-size: 13px;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
}

div.vertical-line{
    width: 1.5px;
    display: block;
    background-color: rgb(218, 215, 215); 
    height: 90%;
    float: left;
    margin-left: 10px;
    margin-top: 10px;

}

.nganhang{
    margin-left: 30px;
}
.nganhang1{
    display: none;
    margin-left: 10px;
}
.nganhang2{
    display: none;
    margin-left: -10px;
}
.videoyt{
    /* margin-top: 0px; */
    width: 230px;
    height: 150px;
    margin-left: 50px;
    border: 3px solid white;
 
}

/* -------- */
.slidemini{
    width: 280px;
    float: left;
    height: 200px;
}
.slidebannermini{
    width: 60%;
    display: block;
    align-items: center;
    margin-left: 20%;
    margin-bottom: 4%;
    border: 2px solid #f3f2eb;
    border-radius: 10px;
    margin-top: 40px;
}
.carousel-control1.right,
.carousel-control1.left {
    background-image: none;
    color: #f5f3f3;
}

.carousel-indicators1 li {
    border-color: #f1f0f0;
}

.carousel-indicators1 li.active {
    background-color: #f5f4f4;
}

h1{
    font-size: 20px;
    padding-bottom: 15px;
}
.linkthongtin{
    color: white;
    list-style: none;
    font-size: 10px;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
}

.logo1{
    width: 30px; 
    height: 30px;
    padding: 3px;
    border-radius: 7px;
}

.footer {
    background: #e8e8ec;
    margin-top: 0px;
    padding: 15px;
    color: #898686;
    font-weight: bold;
    font-size:9px;
    text-align: center;
}

.menudt {
    display: none;
}

/* .menumtb {
    display: none;
} */

.dungchodt{
    font-weight: bold; 
    font-size: 20px; 
    margin-left: 10px;
    margin-top: 30px;
}
.dungchodt2{
    display: block;
}


/* -----------------------------KẾT THÚC------------------------- */

/* ipad */
@media  screen and (max-width:1263px) {
    .slidebanner{
        width: 50%;
        margin-left: 25%;
    }
    /* .header_duoi{
        font-size: 100%;
    } */
    .tren_duoi_0{
        font-size: medium;
    }
}

/* Iphone */
@media screen and (max-width: 730px){
    .tren_phai{
        flex-direction: column;
        text-align: right;
        display: none;
    }
    #togglem {
        display: block;
    }
    #toggles{
        display: block;
    }
    ul .tren_phai{
        display: none;
    }
    .tren_giua{
        display: none;
    }
    .group{
        display: none;
    }
    .group_dt{
        display: block;
    }
    .duongphancach1{
        display: none;
    }
    .menudt {
        display: block;
    }

    .menumtb {
        display: none;
    }

    .header_duoi {
        display: none;
    }

    .nav >li {
        display: block;
    }
}

.grouptivi {
    height: 2340px;
    border-radius: 30px;
    width: 100%;
    background: rgba(255, 255, 0, 0.1);
    border: 1px solid #D9D9D9;
}

.quangcao {
    width: 100%;
    height: 380px;
    background: rgba(255, 255, 0, 0.1);
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.quangcao_1 {
    margin-top: 3%;
    float: left;
    width: 45%;
    height: 80%;
    margin-left: 26px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    
}

.quangcao_2 {
    margin-top: 3%;
    float: left;
    width: 50%;
    height: 80%;
    margin-left: 10px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.tenlt{
    padding-top: 15px;
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bolder;
    height: 30px;
}

.chuthich {
    padding-top: 30px;
    text-align: center;
    margin: 0px;
    padding-bottom: 5px;
    font-size: 10px;
    height: 20px;
    color: rgba(0, 0, 0, 0.7);
}

.grouppc {
    height: 2900px;
    border-radius: 30px;
    width: 100%;
    background: rgba(255, 255, 0, 0.1);
    border: 1px solid #D9D9D9;
}

.group_desktop {
    height: auto;
    border-radius: 30px;
    width: 100%;
    background: rgba(255, 255, 0, 0.1);
    border: 1px solid #D9D9D9;
}

.group_dt {
    display: none;
    height: auto;
    border-radius: 30px;
    width: 100%;
    background: rgba(255, 255, 0, 0.1);
    border: 1px solid #D9D9D9;
}


.group_ipad {
    display: none;
    height: auto;
    border-radius: 30px;
    width: 100%;
    background: rgba(255, 255, 0, 0.1);
    border: 1px solid #D9D9D9;
}

.grouppk {
    height: 10750px;
    border-radius: 30px;
    width: 100%;
    background: rgba(255, 255, 0, 0.1);
    border: 1px solid #D9D9D9;
}

/* -------------------------------------------------TRANG ĐIỆN THOẠI------------------------------------------------------- */
.groupdienthoai {
    height: 2250px;
    border-radius: 30px;
    width: 100%;
    background: rgba(255, 255, 0, 0.1);
    border: 1px solid #D9D9D9;
}

.quangcao {
    height: 380px;
    background: rgba(255, 255, 0, 0.1);
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
}

.quangcaoip_1 {
    margin-top: 19px;
    float: left;
    width: 550px;
    height: 340px;
    margin-left: 25px;
    border-radius: 30px;
}

.quangcaoip_2 {
    float: left;
    width: 290px;
    height: 280px;
    margin-top: 40px;
}

.quangcaoip_3 {
    float: left;
    width: 400px;
    height: 340px;
    margin-top: 19px;
    border-radius: 30px;
}


/* ---------------------------------------------------------------TRANG MÁY TÍNH BẢNG---------------------------------------------------------- */
.groupmtb{
    height: 1650px;
    border-radius: 30px;
    width: 100%;
    background: rgba(255, 255, 0, 0.1);
    border: 1px solid #D9D9D9;
}

.phanduoidt{
    display: none;
}
.phanduoimt{
    display: block;
}
.phanduoimtb {
    display: none;
}

.icon {
    display: none;
}

.icon a {
    color: #000000;
}
@media screen and (max-width: 801px) {
    .header_tren{
        display: none;
    }
}

@media screen and (min-width: 802px) {
    .header_tren{
        display: block;
    }
    .header_duoi{
        display: block;
    }
    .header_tren1{
        display: flex;
    }
    .tren_giua{
        margin-top: 15px;
    }
    .tren_trai{
        margin-top: 7px;
    }
}

/* --------------IPAD------------------------------ */
@media screen and (max-width: 1024px) {

    .slidebannermini{
        margin-top: 15px;
    }

    /* .menumtb {
        display: block;
    }
    .tren_phai {
        display: none;
    }
    .icon {
        display: block;
    }
    .danhsach {
        display: none;
    } */
    .header_search-input {
        width: 200px;
    }
    .quangcao{
        height: 250px;

    }
    .quangcao_1{
        width: 40%;
        height: 80%;
    }
    .quangcao_2{
        width: 52%;
        height: 80%;
    } 
    .quangcaoip_1{
        width: 40%;
        height: 80%;
    }
    .quangcaoip_2{
        width: 25%;
        height: 50%;
    }
    .quangcaoip_3{
        width: 30%;
        height: 80%;
    }
    .group_desktop{
        display: none;
    }  
    .group_ipad{
        display: block;
    }
    .group{
        display: none;
    }
    .tren_phai_1{
        font-size: 13px;
    }
    .tren_duoi_0{
        font-size: 10px;
    }
    .duongphancach1{
        display: block;
    }
    .panel-heading{
        height: 250px;
    }
    .anh{
        height: 90%;
    }
    .tensp{
        font-size: 12px;
        height: 20px;
        margin-top: -20px;
        margin-bottom: -10px;
    }

    .tenlt{
        font-size: 12px;
        height: 20px;
        margin-top: -20px;
        margin-bottom: -10px;
    }
    
    .chuthich {
        padding-bottom: 3px;
        font-size: 8px;
        height: 15px;
    }
    .panel-gia p {
        font-size: 13px;
        padding-top: 2px;
        padding-left: 2px;
        height: 26px;
        width: 110px;
        background: #81f49a;
        border-radius: 15px;
    }
    
    .panel-gia h4 {
        color: #aaa;
        font-size: 12px;
        padding-top: 6px;
        
    }
    .muahang {
        background-color: #fff !important;
        padding-bottom: 20px;
        padding-left: 10%;
        margin-bottom: 20px;
    }
    .mua{
        font-size: 13px;
        height: 50px;
        width: 45%;
    }
    .gio{
        font-size: 13px;
        height: 50px;
        width: 45%;
    }
    /* Phần dưới ipad */
    .thongtin{
        height: 180px;
    }
    .thongtinpro h1{
        margin-top: -10px;
        margin-left: -20px;
        font-size: 15px;
    }
    .thongtinpro1 h1{
        margin-top: -10px;
        margin-left: -20px;
        font-size: 15px;
    }
    
    .nganhang{
        display: none;
    }
    .nganhang1{
        display: block;
    }
    .videoyt{
        margin-top: 0px;
        width: 170px;
        height: 100px;
        margin-left: 30px;
        border: 2px solid white;
     
    }
    
    div.vertical-line{
        margin-left: -20px;
        height: 80%;
    }

    

}

/* -----------------------------------ĐIỆN THOẠI------------------ */
@media screen and (max-width: 800px) {
    .icon {
        display: none;
    }
    .tren_trai {
        display: none;
    }
    .quangcao{
        height: 230px;
    }
    .quangcao_1{
        margin-top: 5%;
        margin-right: 15px;
        margin-left: 22px;
        width: 40%;
        height: 80%;
    }
    .quangcao_2{
        margin-top: 5%;
        width: 45%;
        height: 80%;
    }
    .quangcaoip_1{
        width: 38%;
        height: 80%;
    }
    .quangcaoip_2{
        width: 25%;
        height: 70%;
    }
    .quangcaoip_3{
        width: 28%;
        height: 80%;
    }
    .danhsach{
        display: none;
    }
    .group_desktop{
        display: none;
    } 
    .group_dt{
        display: block;
    }
    .group_ipad{
        display: none;
    }
    .duongphancach1 {
        display: none;
    }
    .duongphancach2 {
        display: block;
    }
    .panel-heading{
        height: 200px;
    }
    .anh{
        height: 90%;
    }
    .tensp{
        font-size: 12px;
        height: 20px;
        margin-top: -20px;
        margin-bottom: -10px;
    }
    .tenlt{
        font-size: 11px;
        height: 20px;
        margin-top: -20px;
        margin-bottom: -10px;
    }
    .chuthich {
        padding-bottom: 3px;
        font-size: 8px;
        height: 15px;
    }
    .panel-gia p {
        font-size: 10px;
        padding-top: 2px;
        padding-left: 2px;
        height: 20px;
        width: 90px;
        background: #81f49a;
        border-radius: 15px;
    }
    
    .panel-gia h4 {
        color: #aaa;
        font-size: 8px;
        padding-top: 6px;
        
    }
    .muahang {
        background-color: #fff !important;
        padding-bottom: 20px;
        padding-left: 10%;
        margin-bottom: 20px;
    }
    .mua{
        font-size: 10px;
        height: 40px;
        width: 45%;
    }
    .gio{
        font-size: 10px;
        height: 40px;
        width: 45%;
    }
   /* phancuoi */
    .thongtinpro{
        font-size: 7px;
        padding: 5px;
        margin: 4px;
        text-decoration: none;

    }

    .thongtinpro h1{
        padding: 5px;
        margin: 4px;
        font-size: 10px;
    }
    .phanduoidt{
        display: block;
    }
    .phanduoimtb {
        display: none;
    }
    .phanduoimt {
        display: none;
    }

    .logo1{
        width: 10px; 
        height: 10px;
        padding: 1px;
        border-radius: 7px;
    }
    div.vertical-line{
        width: 1.5px;
        display: block;
        background-color: rgb(218, 215, 215); 
        height: 90%;
        float: left;
        margin-left: 15px;
        margin-top: 5px;

    }
        
    .thongtin{
        height: 100px;
    }
    .footer span{
        font-size: 7px;
    }
    /* phần dưới điện thoại*/
    .thongtin{
        height: 80px;
    }
    .thongtinpro li{
        margin-left: 10px;
    }
    .thongtinpro li img{
        height: 10px;
        width: 10px;
        margin-left: 10px;
        border-radius:2px;
    }
    .thongtinpro li a{
        font-size: 5px;
        margin-left: -20px;
    }
    .thongtinpro h1{
        margin-top: -10px;
        margin-left: 5px;
        font-size: 7px;
    }
    .thongtinpro1 h1{
        display: none;
    }
    
    .nganhang1{
        display: none;
    }
    .nganhang2{
        display: block;
        margin-left: 10px;
    }
    .videoyt{
        display: none;
    }
    .dungchodt{
        font-size: 7px;
        margin-left: 10px;
        margin-top: -10px;
    }
    div.vertical-line{
        margin-left: 10px;
        height: 80%;
    }
    .dungchodt2{
        display: none;
    }

    .giohang {
        height: 60px;
        
    }
    
    .diachi {
        font-size: 15px; 
    }
    
    .giohang1 {
        height: 25px;
    }
    
    .tatca {
        width: 50%;
        padding-left: 20%;
        font-size: 15px;
    }
    
    .tatca1 {
        color: rgba(0, 0, 0, 0.6);
    }
    
    .mualai {
        width: 50%;
        padding-left: 25%;
        font-size: 15px;
    }

    .tieptuc {
        font-size: 14px;
    }

    .hotro {
        height: 40px;
        width: 100%;
        font-size: 25px;
        text-align: center;
        
    }
    
    .hotro1 {
        height: auto;
        width: 100%;
        font-size: 18px;
    }
    
    .cauhoi {
        width: 90%;
        height: 35px;
        margin-left: 15px;
        padding-left: 15px;
        padding-top: 8px;
        padding-bottom: 15px;
        font-size: 12px;
    }
    
    .ykien {
        padding-left: 20px;
        margin-left: 40px;
        margin-top: 20px;
        width: 80%;
        height: 50px;
        background: #D9D9D9;
    }
    .ykien1 {
        font-size: 14px;
    }
    .ykien2 {
        font-size: 14px;
    }

}


